<link rel="import" href="/components/tasks/task.html">
<style>

.category-tasks {
    width: 75%;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 75px;
}

.category-name {
    float: left;
    text-align: center;
    width: 11%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    font: 24px 'open sans';
    color: dimgrey;
    display: inline-block;
}

</style>
<script>
    gigiComponent({
        name: "category",
        props: {},
        methods: (props) => {
            return {
                close: () => props.opened = false,
                open: () => props.opened = true
            }
        },
        element: (props) => {
            function category(props) {
                var a = []
                for(var i=0; i<props.tasks.length; i++) {
                    a.push(task(props.tasks[i]))
                }
                return gi('div', 
                    gi('div.category-name', props.name), 
                    gi({is: 'div', class: 'category-tasks'}, gi(a))
                    )
            }
            var a = []
            for(var i in scratchCTF.tasks) {
                a.push(category({name: i, tasks: scratchCTF.tasks[i]}))
            }
            return gi(a)
        }
    });
</script>
