<link rel="import" href="/components/dialog.html">
<link rel="import" href="/components/input.html">
<link rel="import" href="/components/button.html">
<style>
.task {
    color: #fff;
    text-align: center;
    font: 14px 'open sans'; 
    width: 16%;
    min-width: 148px;
    min-height: 132px;
    background: #302c23; 
    display: inline-block;
    margin: 30px 10px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 1px;
}

.task.solved {
    background: #5B97B3;
}

.taskpoints {
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font: 14px 'open sans'; 
}

.taskname {
    word-wrap: break-word;
}

.address {
    color: rgba(0, 0, 0, .54);
}
.address:hover, .address:focus {
    color: rgba(0, 0, 0, .45);
    outline: none;
    text-decoration: underline;
}

.taskinput {
    width: calc(100% - 85px)!important;
}

</style>
<script>
    var tasksInfo = {

    }

    var task = function(props) {
        if (tasksInfo[props.id] == undefined) {
            props.dialog = {
                animated: true,
                opened: false
            }
            props.sendFlagInput = {label: "Флаг", animated: true, myclass: ' taskinput'}
            props.submitButton = {content: "Отправить"}
            props.dialog.title = props.name
            tasksInfo[props.id] = props
        }
        
        var br = gi('br')
        var strong = function(x){return gi('strong', x)}
        var adress = function(x){return gi({is: 'a', href:x, class:'adress'}, x)}
        var download = function(x){return gi({is: 'a', href:x, class:'adress', download: true}, x)}

        var getservice = function(service) {
            var service = JSON.parse(service)
            var a = []
            
            for(var i=0;i<service.length;i++) {
                if (service[i].slice(0, 11) == "attachments") a.push(download(service[i]));
                else a.push(adress(service[i]));
                a.push(br)
            }
            
            return gi(a)
        }

        var hintloader = function(service) {
            var service = JSON.parse(service)
            var a = []
            for(var i=0;i<service.length;i++) {
                a.push(gi('div', service[i]))
                a.push(br)
            }
            return gi(a)
        }
        var description = gi('div', strong('Описание:'), br, props.description)
        if (!!props.attachment) var files = gi('div', strong('Вложения:'), br, getservice(props.attachment))
        if (!!props.author) var author = gi('div', strong('Автор: '), props.author)
        if (!!props.contacts) var contacts = gi('div', strong('Контакты: '), gi({is:'a', href: props.contacts}, props.contacts))
        if (!!props.hint) var hints = gi('div', strong('Подсказки:'), br, hintloader(props.hint))
        var info = [
            description,
            (!!props.attachment?files:''),
            (!!props.author?author:''),
            (!!props.contacts?contacts:''),
            (!!props.hint?hints:'')
        ]
        tasksInfo[props.id].dialog.content = gi(info)
        tasksInfo[props.id].dialog.actions = gi({is:'div', style: {width: '100%'}}, 
            gi({is:input(tasksInfo[props.id].sendFlagInput)}), 
            gi({is:button(tasksInfo[props.id].submitButton), onclick: ()=> ApiMethods.sendFlag(props.id, tasksInfo[props.id].sendFlagInput.value || '')}))
    
        return gi({is:'div', style: {display: 'inline-block', width: '16%'}},
            gi({id: tasksInfo[props.id].dialog.title, is:'div', class:'task '+(props.solved?'solved':''), onclick: ()=> {tasksInfo[props.id].dialog.opened=true;update()}},
                gi('h3.taskname', props.name),
                gi('h3.taskpoints', String(props.points))
            ),gi({is: $gi.dialog(tasksInfo[props.id].dialog)}))
    }
</script>
