<link rel="import" href="/components/tasks/category.html">
<style>

.underTitle {
	color: #666;
	text-align: center;
}

</style>
<script>
    gigiComponent({
        name: "tasksPage",
        props: {},
        methods: (props) => {},
        element: (props) => 
            gi('div.fullsize', tabLogo('Задания'), (scratchCTF.myteam.team == null?gi('h2.underTitle', 'Для получения задач вам необходимо вступить в команду'):$gi.category))
    });
</script>
