.fit {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.flexible {
    display: flex;
}

.flex {
    flex: 1;
}

.gigi-card {
    position: relative;
}

.gigi-drawerPanel {
    position: absolute;
    left: 0px; 
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.gigi-drawerPanel__content {
    width: 250px;
    position: absolute;
    background-color: white;
    overflow: auto;
    height: 100%;
    transition: all 0.3s;
}

.gigi-drawerPanel.opened .gigi-drawerPanel__content {
    left: 0px;

}

.gigi-drawerPanel.closed .gigi-drawerPanel__content {
    left: -250px;

}

.gigi-tabs {
    width: 100%;
    display: block;
}

.gigi-toolbar {
    height: 56px;
    width: 100%;
    display: flex;
    background-color: #303F9F;
}

.gigi-drawerButton {
    display: flex;
    position: absolute;
    height: 36px;
    width: 36px;
    border: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    line-height: 50px;
    font-family: Helvetica, Arial, sans-serif;
    margin: auto 12px;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 4;
    transition: all 0.3s;
}

.gigi-drawerButton .gigi-icon {
    flex: 1;
    margin: auto;
    position: relative;
}

.gigi-drawerButton:active {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.gigi-icon {
    cursor: pointer;
    margin: auto;
}

@media screen and (max-width:1024px) {
    .gigi-toolbar {
        height: 48px;
    }
}

.gigi-tabs__bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 48px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.gigi-tabs__tab {
    margin: 0;
    border: none;
    padding: 0 24px;
    float: left;
    position: relative;
    display: block;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .54);
    overflow: hidden;
}

.gigi-tabs__tab.is-active {
    color: rgba(0, 0, 0, .87);
}

.gigi-tabs__tab.is-active:after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: #3f51b5;
    -webkit-animation: border-expand .2s cubic-bezier(.4, 0, .4, 1).01s alternate forwards;
    animation: border-expand .2s cubic-bezier(.4, 0, .4, 1).01s alternate forwards;
    transition: all 1s cubic-bezier(.4, 0, 1, 1);
}

.invisible {
    display: none !important;
}

.visible {
    display: block;
}

.gigi-list__item > * {
    display: flex;
}

.gigi-navmenu__item {
    min-height: 50px;
}

.gigi-navmenu__item > * {
    margin: auto 20px;
    font-size: 16px;
    color: #717070;
}

.gigi-list {
    display: flex;
    position: relative;
    flex-direction: column;
}

.gigi-list__item {
    display: flex;
    flex-direction: row;
}

.gigi__action--continue {
    background-color: #5E8CD8 !important;
    color: #fff;
}


.gigi-layout__header-row {
    padding: 0px 16px;
}

.gigi-layout__header-row > * {
    margin: 0px 7px;
    color: white;
}

.gigi__action--cancel {
    background-color: #D64D4D !important;
    color: #fff;
}

.gigi-button--shadowed:active,
.gigi-button--shadowed:focus:not(:active),
.gigi-button--shadowed:hover {
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.14), 
                0 4px 18px 4px rgba(0, 0, 0, 0.12), 
                0 6px 4px -4px rgba(0, 0, 0, 0.4);
}

.full-width {
    width: 100% !important;
    position: relative;
}

.gigi-textfield__input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.8);
}

.gigi-textfield__label {
    color: rgba(0, 0, 0, 0.6);
}

.gigi-dialog {
    background: white;
    flex-direction: column;
    margin: auto;
    overflow: auto;
    top: 0px;
}

.gigi-dialog__content {
    flex: 1;
}

.gigi-toplayer {
    z-index: 5;
    overflow: auto;
    
}

.gigi-backdrop {
    display: flex;
    position: absolute;
    overflow: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.gigi-tooltip {
    display: inline-block;
}

.gigi-tooltip__tooltip.is-active {
    -webkit-animation: pulse 200ms cubic-bezier(0, 0, .2, 1)forwards;
    animation: pulse 200ms cubic-bezier(0, 0, .2, 1)forwards;
}

.gigi-tooltip__tooltip {
    position: fixed;
    margin: auto;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top center;
    transform-origin: top center;
    will-change: transform;
    z-index: 999;
    background: rgba(97, 97, 97, .9);
    border-radius: 2px;
    color: #fff;
    display: table;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    padding: 8px;
    text-align: center;
}

.gigi-tooltip__tooltip--large {
    line-height: 14px;
    font-size: 14px;
    padding: 16px;
}

.gigi-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 2px;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    padding: 0;
    background-color: #4C60D0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    z-index: 1;
    cursor: pointer;
    width: calc(100% - 30px);
    margin: 10px 15px;
}

.gigi-slider .gigi-slider__cursor {
    position: relative;
    height: 16px;
    top: -8px;
    width: 16px;
    background-color: rebeccapurple;
    border-radius: 50%;
}

.gigi-fileAttach {
    background-color: inherit;
}

.gigi-fileAttach > * {
    cursor: pointer;
}

.gigi-fileAttach:hover,
.gigi-fileAttach:focus,
.gigi-fileAttach:active {
    background-color: rgba(239, 239, 239, 0.48);
}


.gigi-ripple {
    display: block; position: absolute;
    background: grey;
    border-radius: 100%;
    display: hidden;
    transform: scale(0); 
    opacity: 1;
    z-index: 1;
}

.gigi-ripple.active {
    display: block;
    opacity: 0;
    z-index: 0;
    transform: scale(2);
    transition: all 0.8s;
}


.gigi-dropdown__container,
.gigi-dropdown__outline {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    z-index: -1
}

.gigi-dropdown__container {
    height: 0;
    width: 0;
    visibility: hidden;
    overflow: visible
}

.gigi-dropdown__container.is-animating,
.gigi-dropdown__container.visible {
    z-index: 999;
    visibility: visible
}

.gigi-dropdown__outline {
    background: #fff;
    border-radius: 2px;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    will-change: transform;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
    transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1), -webkit-transform .3s cubic-bezier(.4, 0, .2, 1)
}

.gigi-dropdown__container.visible .gigi-dropdown__outline {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 999
}

.gigi-dropdown__outline.gigi-dropdown--bottom-right {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.gigi-dropdown__outline.gigi-dropdown--top-left {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%
}

.gigi-dropdown__outline.gigi-dropdown--top-right {
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.gigi-dropdown {
    background: white;
    position: absolute;
    list-style: none;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
    min-width: 124px;
    padding: 8px 0;
    margin: 0;
    opacity: 0;
    z-index: -1;
}

.gigi-dropdown__container.scrollable .gigi-dropdown {
    overflow-y: scroll;
    max-height: 200px
}

.gigi-dropdown__container.visible .gigi-dropdown {
    opacity: 1;
    z-index: 999
}

.gigi-dropdown.is-animating {
    transition: opacity .2s cubic-bezier(.4, 0, .2, 1), clip .3s cubic-bezier(.4, 0, .2, 1)
}

.gigi-dropdown.gigi-dropdown--unaligned {
    top: auto;
    left: auto
}

.gigi-dropdown__item {
    display: block;
    border: none;
    color: rgba(0, 0, 0, .87);
    background-color: transparent;
    text-align: left;
    margin: 0;
    padding: 0 16px;
    outline-color: #bdbdbd;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity .2s cubic-bezier(.4, 0, .2, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.gigi-dropdown__container.visible .gigi-dropdown__item {
    opacity: 1
}

.gigi-dropdown__item::-moz-focus-inner {
    border: 0
}

.gigi-dropdown__item--full-bleed-divider {
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.gigi-dropdown__item[disabled] {
    color: #bdbdbd;
    background-color: transparent;
    cursor: auto
}

.gigi-dropdown__item[disabled]:hover {
    background-color: transparent
}

.gigi-dropdown__item[disabled]:focus {
    background-color: transparent
}

.gigi-dropdown__item[disabled] {
    background: 0 0
}

.gigi-dropdown__item:hover {
    background-color: #eee
}

.gigi-dropdown__item:focus {
    outline: none;
    background-color: #eee
}

.gigi-dropdown__item:active {
    background-color: #e0e0e0
}
