body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #2c3e50;
    padding-right: 0!important;
}


p {
    font-size: 20px;
    text-transform: none;
}

hr {
	color: black;
}

#profit-audit {
    background-image: url("../images/profit-audit.jpg");
}

.header {
    border-radius: 0px;
    margin-bottom: 0px;
    position: fixed;
    border: 0;
    width: 100%;
    z-index: 100;
    background-color: #3f51b5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    
}   

.navbar-inverse .navbar-nav > li > a {
    color: #e0dddd;
    cursor: pointer;
}

.navbar-brand {
    cursor: pointer;
}

.navbar-inverse .navbar-brand {
    color: #e0dddd;
}

.loginButton {
    margin-top: 100px;
    background-color: white;
    width: 150px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  color: black;
  width: 400px;
}

.sponsor {
    background-size: 100%;
    width: 128px;
    height: 128px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
    cursor: pointer;
}

@keyframes sponsorAnime {
    from {box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)}
    to {box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2)}
}

.loginForm {
    color: black;
    font-weight: normal;
}

.sponsor:hover {
    animation: sponsorAnime 0.5s;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2)
}

.registerForm {
    display: inline-block;
    padding-top: 30px;
    text-transform: none;
}

.navlink {
    cursor: pointer;
}

.task {
    height: 320px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}

.caesarBG {
    border-radius: 4px;
    background-image: url("../images/caesar.jpg");
    background-size: 100%;
}

.stegano {
    border-radius: 4px;
    background-image: url("../images/stegano.jpg");
    background-size: 100% 100%;
}

.reverse-task {
    text-transform: none;
    text-align: left;
    background: #23241f;
    border: 1px solid #23241f;
    padding: 0 9.5px;
}

#info {
    display: inline-table;
    width: 100%;
    background: #ff8000;
    color: black;  
    text-align: center;
    text-transform: uppercase;
    padding-top: 55px;
    padding-bottom: 100px;
}

#logo {
    background: black;   
    display: inline-table;
    width: 100%;
}

#organizers {
    background: #ffcf75;    
    display: inline-table;
    width: 100%;
    color: black;  
    text-align: center;
    text-transform: uppercase;
    padding-top: 55px;
    padding-bottom: 100px;
}

#task-example {
    background: #00d0f2;   
    display: inline-table;
    width: 100%;
    color: black;  
    text-align: center;
    text-transform: uppercase;
    padding-top: 55px;
    padding-bottom: 100px;
}

#registration {
    background: #aaf200;   
    display: inline-table;
    width: 100%;
    color: black;  
    text-align: center;
    text-transform: uppercase;
    padding-top: 55px;
    padding-bottom: 100px;
}

h3 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
hr {
    margin: 25px auto 30px;
    padding: 0;
    width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}


.info-logo {
    font-size: 3em;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-responsive {
    display: block;
    width: 256px;
    max-width: 256px;
    height: auto;
    margin: 0 auto 20px;
    padding-top: 100px;
    vertical-align: middle;
}

.intro-text {
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight: 700;
    text-shadow: -1px -1px 5px rgba(255, 255, 255, 1);
    padding-bottom: 100px;
    padding-top: 20px
}

.name {
    font-size: 2em;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    display:block;
    line-height: 1.42857143;
}

.undername {
    font-size 1.25em;
}

@media screen and (min-width: 768px) {
    .name {
        font-size: 4.75em;
    } 
    
    .undername {
        font-size: 1.75em;
    }   
}
