<style>
    .backdrop {
        z-index: 10;
        display: flex;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .backdrop.animated {   
        transition: all 0.4s;
    }
    
    .backdrop.hidden {
        visibility: hidden;
        opacity: 0;
    }
</style>
<script>
    var backdrop = function(props) {
        return gi("div.backdrop");
    };
</script>
