<style>
</style>
<script>
    var button = function(props) {
        var btnClass = function() {
            return (props.disabled? "disabled": "")
        };
        return gi({is: "div.mdl-button.mdl-js-button.mdl-button--raised", class: btnClass}, props.content);
    };
</script>
