<link rel="import" href="/components/backdrop.html">
<style>
    .dialog {
        position: relative;
        margin: auto;
        width: 420px;
        background: white;
        box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
        z-index: 10;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        vertical-align: middle;
        border: none;
        padding: 14px;
    }
    
    .dialog .title {
        padding: 24px 24px 0;
        padding-bottom: 0px;
        font-weight: 400;
        font-size: 2.5rem;
        font-family: "Roboto","Helvetica","Arial",sans-serif!important;
    }
    
    .dialog .content {
        padding: 20px 24px 24px 24px;
        display: inline-block;
        flex-direction: column;
        position: relative;
    }
    
    .dialog .actions > * {
        float: right;
        position: relative;
        padding: 8px 8px 8px 24px;
        display: flex;
    }
    
    .dialog .actions {
        order: 3;
        position: relative;
        width: calc(100% - 6px);
        background-color: white;
        padding: 6px 3px;
        bottom: 0px;
        flex-direction: row-reverse;
    }

    .fixed {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
    }
</style>
<script>
    gigiComponent({
        name: "dialog",
        props: {
            opened: false
        },
        methods: (props) => {
            return {
                close: () => props.opened = false,
                open: () => props.opened = true
            }
        },
        element: (props) => {
            return gi({is:'div', class: 'fixed '+(props.opened? "": "hidden")}, gi({is: backdrop({}), 
                $: "backdrop",
                class: (props.animated? " animated": ""),
                onclick: ()=> {props.opened=false;update()}
            }),
            /**/
            gi({is: "div.dialog", $: "dialog"},
                (props.title? gi("div.title", props.title): []),
                (props.actions? gi("div.actions", props.actions): []),
                (props.content? gi("div.content", props.content): [])))
        }
    });
</script>
