<link rel="import" href="/components/backdrop.html">
<style>
    .drawer-panel {
        width: 240px;
        background: white;
        position: absolute;
        height: 100%;
        left: 0px;
        transition: all 0.25s;
        overflow: auto;
    }
    
    .drawer-panel.closed {
        left: -240px;
    }
</style>
<script>
    gigiComponent({
        name: "drawerPanel",
        props: {opened: false},
        methods: (props) => {
            return {
                open: () => props.opened = true,
                close: () => props.opened = false
            }
        },
        element: (props, self) =>
            gi({is: backdrop({}), $: "backdrop", 
                    class: "animated" + (props.opened? "": " hidden"),
                    style: {
                        overflow: "auto"
                    }
                },
                /**/
                gi({is: gi("div.drawer-panel"), $: "drawer", class: (props.opened)? "": "closed"}))
    });
</script>
