<style>
    .input {
        height: 38px;
        border-bottom: 1px solid #e6e6e6;
        padding: 0;
        margin-bottom: 10px;
    }
    
    .input input {
        border: none;
        outline: none;
        z-index: 1;
        background-color: transparent;
        position: relative;
        bottom: -2px;
        width: 100%;
    }
    
    .input.focused .border {
        width: 100%;
        visibility: visible;
    }
    
    .input .border {
        visibility: hidden;
        width: 1px;
        height: 2px;
        bottom: -5px;
        position: relative;
        margin: auto;
        background-color: #6F74FF;
    }
    
    .input.animated .border {
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-timing-function: cubic-bezier(.4,0,.2,1);
    }
    
    .input.animated .label {
        transition: all 0.2s;
    }
    
    .input.focused .label {
        color: #7A7FBB;
    }
    
    .input.focused .label,
    .input.dirty .label {
        top: 2px;
        font-size: 11.5px;
    }
    
    .input .label {
        font-weight: 400;
        color: #999;
        cursor: pointer;
        position: relative;
        top: 17px;
        height: 15px;
        display: block;
        font-size: 13px;
        margin: 0;
        padding: 0;
        z-index: 0;
    }
        
    .input .error-message {
        color: #d50000;
        margin-top: 10px;
        font-size: 10px;
    }
    
    .input.invalid .label {
        color: #d50000;
    }
    
    .input.invalid .border {
        background-color: #d50000;
    }
    
    .input.invalid {
        margin-bottom: 25px;
    }
    
    .input.invalid {
        border-color: #d50000;
    }
</style>
<script>
    var input = function(props) {
        var isvalid = true;
        if(props.validation && props.value) isvalid = props.validation(props.value);
        var inputClass = () => "input"
         + (props.animated? " animated": "")
         + (props.focused? " focused": "")
         + (props.value? " dirty": "")
         + (isvalid? "": " invalid")
         + (!!props.myclass? props.myclass: '');
         
        return gi({is: "div", class: inputClass},
            gi({is: "div.label", $: "label"}, props.label),
            gi({is: "input", $: "input",
                value: props.value || "",
                readonly: props.readonly || false,
                on$created: function(e) {
                    if(props.focused) e.target.focus();
                },
                on$changed: function(e) {
                    if(props.focused) e.target.focus();
                },
                onfocus: function(e) {
                    props.focused = true;
                    update();
                },
                onblur: function(e) {
                    props.focused = false;
                    update();
                },
                oninput: function(e) {
                    props.value = e.target.value;
                    update();
                }
            }),
            gi("div.border"),
            gi("div.error-message", !isvalid? props.errorMessage || "": ""));
    }
</script>
