<style type="text/css">
	.news {
		display: flex;
	}

	.news .time {
		text-align: center;
		flex: 1;
	}

	.news .text {
		flex: 2;
		font-size: 18px;
		color: #333;
	}

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 1em 25px; 
	}

	.news a {
		cursor: pointer;
	}

</style>

<script>

    gigiComponent({
        name: "news",
        props: {},
        methods: (props) => {},
        element: (props) => 
            gi('div.fullsize', 
            	tabLogo('Scratch CTF 2016'), 
            	() => {
                    if (scratchCTF.news.length == 0) return gi('h2.underTitle', 'Скоро здесь появятся новости')

            		var news = []

            		for(var i=0; i<scratchCTF.news.length; i++) {
            			var a = scratchCTF.news[i]
            			if (a.team != undefined) {
                            news.push(
                            gi('div.news', 
                                gi('div.time', 
                                    gi('h1', timeString(a.time))
                                ), 
                                gi('div.text', gi('p', 
                                'Команда ',
                                gi({is:'a', href: '#team/'+a.id}, a.team),
                                ' первая выполнила задание ' + a.task
                            ))
                            )
                        );
            			} else {
                            news.push(
                            gi('div.news', 
                                gi('div.time', 
                                    gi('h1', timeString(a.time))
                                ), 
                                gi('div.text', a.text)
                            )
                        );
                        }
            			
        				if (i+1 != scratchCTF.news.length) news.push(gi('hr'));
            		}
            		return gi('div', gi(news));
            	}
        	)
    });
</script>
