body {
	background: black;
	color: green;
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cred { 
	
}

.dialog {
    width: 300px;
    position: fixed;
    background-repeat: repeat;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin-top: -50px;
    margin-left: -160px;
    text-shadow: 0.1em 0.1em 0.2em #000;
    text-align: center;
    padding: 20px;
}


#cred {
	font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	display: inline-block;
	margin: auto;
}

#adminpassword {
	display: none;	
}

#button_div {
	display: flex;
	padding-top: 10;
}

#button{
	height: 30px;
	width: 100px;
	margin: auto;
}

input{
   border: 1px solid green;
   border-radius: 0px;
   -webkit-border-radius: 0px; 
   -moz-border-radius: 0px; 
   -khtml-border-radius: 0px;
   background: #000 !important;
   outline: none; 
   height: 24px; 
   width: 120px; 
   color: green; 
   font-size: 11px; 
   font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
}

button {
	background: black;
	background-color:#000;
	border:1px solid green;
	display:inline-block;
	cursor:pointer;
	color:green;
	font-family:'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

#AccessDenied {
    animation: dialog 1s infinite;
    border: 2px solid #F00;
    color: #F00;
}

@keyframes dialog {
    0% {background: black;}
    50% {background: red;}
}
