<head>
	<link rel="stylesheet" type="text/css" href="welcome/css/material.css">
	<link rel="stylesheet" type="text/css" href="welcome/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="welcome/css/main.css">
    <link rel="stylesheet" type="text/css" href="welcome/icons/font.css">

    <link rel="stylesheet" href="welcome/css/monokai-sublime.css">
    <script src="welcome/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
    <meta charset="utf8">     
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes"> 
    
    <script src="welcome/js/material.js"></script>
    <script src="welcome/js/smoothscroll.js"></script>
    <script src="welcome/js/jquery.min.js"></script>
    <script src="welcome/js/bootstrap.min.js"></script>
    <script src="welcome/js/cookie.js"></script>
    
    <script src="welcome/js/api.js"></script>
    <script src="welcome/js/reqwest.js"></script>
    <script src="welcome/js/ret.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" onclick="EPPZScrollTo.scrollVerticalToElementById('logo', 20);">Scratch CTF 2016</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav header-nav">
        <li><a onclick="EPPZScrollTo.scrollVerticalToElementById('info', 20);">Информация</a></li>
        <li><a onclick="EPPZScrollTo.scrollVerticalToElementById('organizers', 20);">Кто проводит</a></li>
        <li><a onclick="EPPZScrollTo.scrollVerticalToElementById('task-example', 20);">Примеры задач</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right header-nav">
        <li><a onclick="EPPZScrollTo.scrollVerticalToElementById('registration', 20);">Регистрация</a></li>
        <li><a data-toggle="modal" data-target="#myModal">Вход</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="logo">
    <div class="col-lg-12">
        <img class="img-responsive" src="welcome/images/scratch.png" alt="">
        <div class="intro-text">
            <span class="name">Scratch CTF 2016</span>
            <span class="undername">Командные соревнования по компьютерной безопасности</span><br>
            <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect loginButton" data-toggle="modal" data-target="#myModal">Начать играть</button>
        </div>      
    </div>
</div>

<div id="info">
    <div class="col-lg-12">
        <h2 class="info-logo">Информация</h2>
        <hr>
    </div>
    <div class="col-lg-5 col-lg-offset-1">
        <h3 class="text-center">Формат соревнований</h3>
        <p style="text-align: left;">
            Capture the flag (CTF) или Захват флага – командные соревнования по защите информации.
            <br>
            В рамках соревнования командам будут предложены разнообразные задания по криптографии, стеганографии, уязвимости веб-приложений и другим аспектам компьютерной и информационной безопасности.
Успешно решив задачу, команда захватывает флаг. Каждый полученный флаг приносит команде некоторое количество очков.
        </p>
    </div>
    <div class="col-lg-5">
        <h3 class="text-center">Регламент</h3>
        <p style="text-align: left;">
            Продолжительность олимпиады: 10 часов.<br>
Задания ориентированы на школьников 7-11 классов.<br>
Количество человек в команде: 2-4 человек.<br>
Обязательна предварительная регистрация.<br>
После регистрации вы получите на почту информацию об отборочном туре. Отборочный тур нужен для того, чтобы подготовить вас к формату соревнований.
        </p>
    </div>
</div>

<div id="organizers">
    <div class="col-lg-12">
        <h2 class="info-logo">Кто Проводит</h2>
        <hr>
    </div>
    <div class="col-lg-5 col-lg-offset-1">
        <p style="text-align: left;">
            <a href="http://vk.com/sochi_it_school"><b>Школа программиста</b></a><br><br>
            Курсы программирования для школьников, студентов и специалистов.<br>
В настоящее время два раза в неделю проводятся бесплатные занятия для школьников.
        <p>       
    </div>
    <div class="col-lg-5">
        <p style="text-align: left;">
            <b>Команда Scratch Kids</b><br><br>
            Многократные участники и призеры соревнований CTF
            <br><br>
            При поддержке:
            <br>
        <p>
        <div class="sponsor" id="profit-audit" onclick="openSponsor('http://profit-audit.info/')"></div>     
    </div>
</div>


<div id="task-example">
    <div class="col-lg-12">
        <h2 class="info-logo">Темы заданий</h2>
        <hr>
    </div>
    <div class="col-lg-3 col-lg-offset-1">
        <div class="caesarBG task">
            <span style="position: relative; top: 50%;">iodj{xf00o}</span>
        </div>
        <h3 class="text-center">crypto</h3>
    </div>
    <div class="col-lg-3">
        <div class="stegano task"></div>
        <h3 class="text-center">stegano</h3>
    </div>
    <div class="col-lg-3">
        <div class="task">
            <pre class="reverse-task">
                <code class="python">
def encode(flag):
    a = 19
    flag = list(flag)
    for i in range(a):
        flag[i] = chr(min((ord(flag[i]) ^ i*2)-1, 128))
    flag = ''.join(flag)
    print(flag)#prints "emd`rytyw|yao~}zRUX"

def decode(flag):
    #...
                </code>
            </pre>
        </div>
        <h3 class="text-center">reverse</h3>
    </div>
</div>

<div id="registration">
    <div class="col-lg-12">
        <h2 class="info-logo">Регистрация</h2>
        <hr>
    </div>
    <form class="registerForm" id="registerForm">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username">
            <label class="mdl-textfield__label" for="username">Имя пользователя</label>
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password">
            <label class="mdl-textfield__label" for="password">Пароль</label>
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="confpassword">
            <label class="mdl-textfield__label" for="confpassword">Подтверждение пароля</label>
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="email">
            <label class="mdl-textfield__label" for="email">Электронный адрес</label>
        </div>
        <br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="submitform(); return false;">
            Зарегистрироваться
        </button>
        
    </form>
</div>

<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="border-radius: 0px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><b>Вход</b></h4>
      </div>
      <div class="modal-body">
            <form id="loginForm" style="text-align:center;">
		        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		            <input class="mdl-textfield__input" type="text" id="LoginUsername">
		            <label class="mdl-textfield__label loginForm" for="LoginUsername">Имя пользователя</label>
		        </div>
		        <br>
		        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		            <input class="mdl-textfield__input" type="password" id="LoginPassword">
		            <label class="mdl-textfield__label loginForm" for="LoginPassword">Пароль</label>
		        </div>     
    		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="login()">Войти</button>
      </div>
    </div>

  </div>
</div>
</body>

<script type="text/javascript">
    var snackbar = document.querySelector('#snackbar');

    function submitform() {
        var data = {
        	method: 'register',
            username: $("#username").val(),
            password: $("#password").val(),
            email: $("#email").val()
        }
        if (data.password != $("#confpassword").val()) {
            var data = {
              message: 'Пароли не совпадают',
              timeout: 2000,
            };
            snackbar.MaterialSnackbar.showSnackbar(data);
            return false;
        }
        
        var f = function(rt){
        }
        
        api(f, data)
    } 

    function login() {
    	var data = {
    		method: 'login',
    	    username: $("#LoginUsername").val(),
    	    password: $("#LoginPassword").val()
        }
        
        var f = function(rt) {
            if (rt.login) {
                window.location='/';
            }
        }
        
        api(f, data);
    }

    function openSponsor(url) {
        var win = window.open(url);
        if (win) {
            win.focus();
        }
    }
</script>
