<link rel="import" href="/components/tabLogo.html">
<style>
.fullsize {
	width: 100%;
}

.table {
	font-family: 'Roboto','Helvetica','Arial',sans-serif!important;	
    width: 86%;
    margin-right: 7%;
    margin-left: 7%
}

.table th{
	height: 24px;
	padding-bottom: 0px;
}

.table td{
	font-size: 24px;
	padding-top: 12px!important;
	padding-right: 24px!important;
	padding-bottom: 12px!important;
	padding-left: 18px!important;
}

.scoreboard tr{
    cursor: pointer;
}

.scoreboard tr:hover{
    background: #ddd!important;

}


</style>
<script>
	function table() {
		function tr(i, el) {
			return gi({is:'tr', onclick: ()=> routie('team/'+el.id), style: {position: 'initial'}},
                    gi({is:'td', class: 'mdl-data-table__cell--non-numeric'}, String(i+1)),
                    gi({is:'td', class: 'mdl-data-table__cell--non-numeric'}, el.name),
                    gi({is:'td', class: 'mdl-data-table__cell--non-numeric'}, String(el.points))
                )
		}

    	function cells() {
            var a = [];
            for(var i = 0; i < scratchCTF.scoreboard.length; i++) {
                var el = scratchCTF.scoreboard[i]
                a.push(tr(i, el))
            };
            return gi(a);
         };
    	var head = gi('thead',
    		gi({is:'th', class: 'mdl-data-table__cell--non-numeric'}, 'Место'),
    		gi({is:'th', class: 'mdl-data-table__cell--non-numeric'}, 'Команда'),
    		gi({is:'th', class: 'mdl-data-table__cell--non-numeric'}, 'Очки')
		);
    	var body = gi('tbody', cells)
    	return gi({is: 'table.table.scoreboard', id:'cellTable', class:"mdl-data-table mdl-js-data-table mdl-shadow--2dp"}, head, body)
    };

    gigiComponent({
        name: "scoreboard",
        parent: parent,
        props: {
            drawer: {}
        },
        methods: (props) => {
            return {}
        },
        element: (props) =>
            gi('div.fullsize', tabLogo('Рейтинг'), table)
    });
</script>
