html, body {
    background: white!important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover {
	background-color: #222!important;
}


.header {
    border-radius: 0px;
    margin-bottom: 0px;
    position: fixed;
    border: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    top: 0;
}  

.page {
	position: absolute;
	top: 50px;
    display: flex;
    width: 100%;
}

.tab-content {
    width: 100%;
}

.logo {
    text-align: center;
}

.teamnameInput {
	width: calc(100% - 64px)!important;
}

.invitecard {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.addMemberButton {
	left: calc(50% - 28px);
	margin-top: 10px;
	margin-bottom: 10px;
}

#profileChart {
    height: 400px;
    width: 86%;
    margin-right: 7%;
    margin-left: 7%
}

.navbar-brand {
    cursor: pointer;
}
