<head>
	<link rel="stylesheet" type="text/css" href="admin/css/material.css">
    <link rel="stylesheet" type="text/css" href="admin/css/gigi.css">
    <link rel="stylesheet" type="text/css" href="admin/css/main.css">
    <link rel="stylesheet" type="text/css" href="admin/icons/font.css">
    
    <meta charset="utf8">     

    <script src="admin/libs/cito.js"></script>
    <script src="admin/libs/reqwest.js"></script>
    <script src="admin/libs/cookie.js"></script>
    <script src="admin/libs/ret.js"></script>
    <script src="admin/libs/api.js"></script>   

    <script src="admin/libs/gigi.js"></script>
    <script src="admin/libs/material.js"></script>

    <script src="admin/components/snackbar.js"></script>
    <script src="admin/components/button.js"></script>
    <script src="admin/components/backdrop.js"></script>
    <script src="admin/components/dialog.js"></script>
    <script src="admin/components/input.js"></script>
    <script src="admin/components/checkbox.js"></script>
    <script src="admin/components/dropdown.js"></script>

    <script src="admin/content/addnews.js"></script>
    <script src="admin/content/addtask.js"></script>
    <script src="admin/content/changetask.js"></script>
    <script src="admin/content/changenews.js"></script>

</head>
<body>
</body>

<script src="admin/libs/main.js"></script>
