<head>
	<link rel="stylesheet" type="text/css" href="/css/material.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/icons/font.css">
    
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <meta charset="utf8">     
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes"> 
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/webcomponents/src/HTMLImports/HTMLImports.js"></script>

    <script src="/js/material.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/routie.js"></script>
    <script src="/js/cookie.js"></script>
    <script src="/js/api.js"></script>
    <link rel="import" href="/components/gigi.html">
    <link rel="import" href="/components/scoreboard/scoreboard.html">
    <link rel="import" href="/components/tasks/taskspage.html">
    <link rel="import" href="/components/team/team.html">
    <link rel="import" href="/components/team/noTeamPage.html">
    <link rel="import" href="/components/news.html">

</head>

<body>

<nav class="navbar navbar-inverse header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" onclick="routie('news');">Scratch CTF 2016</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav header-nav">
        <li id='scoreboardTab'><a data-toggle="tab" href="#scoreboardPage" onclick="routie('scoreboard');">Рейтинг</a></li>
        <li id='tasksTab'><a data-toggle="tab" href="#tasksPage" onclick="routie('tasks');">Задания</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right header-nav">
      	<li id='teamTab'><a data-toggle="tab" href="#teamPage">Вы не состоите в команде</a></li>
        <li id='Exit'><a data-toggle="tab" href="#exit" onclick="ApiMethods.deauth();">Выход</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--
<div class="page">
  <div class="tab-content">
    <div id="scoreboardPage" class="tab-pane fade in active">
      <h1 class='logo'>Рейтинг</h1>
      <p>Some content.</p>
    </div>
    <div id="tasksPage" class="tab-pane fade">
      <h1 class='logo'>Задания</h1>
      <p>Some content in menu 1.</p>
    </div>
    <div id="teamPage" class="tab-pane fade">
      <h1 class='logo'>Моя команда</h1>
      <p>Some content in menu 2.</p>
    </div>
  </div>
</div>
-->

<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

</body>

<script type="text/javascript">
    var snackbar = document.querySelector('#snackbar');
    snackbar.show = function(data){snackbar.MaterialSnackbar.showSnackbar(data);}
</script>

<script>
window.addEventListener('HTMLImportsLoaded', function(e) {    
    var script = document.createElement("script"); script.src = "js/main.js";
    document.body.appendChild(script);
});
</script>
